
@{
    ViewBag.Title = "About";
}

    @*<h3 style="font-family:Cambria;font-weight:bold;margin-left:20em;">About</h3>*@
<br/>
<p style="font-family:'Bookman Old Style';color:white; letter-spacing:2px; font-size:large;">
    NHP
    About National Health Portal
    Introduction
    The Ministry of Health and Family Welfare, Government of India has set up the National Health Portal in pursuance to the decisions of the National Knowledge Commission, to provide healthcare related information to the citizens of India and to serve as a single point of access for consolidated health information. The National Institute of Health and Family Welfare (NIHFW) has established Centre for Health Informatics to be the secretariat for managing the activities of the National Health Portal.
</p>

