
@{
    ViewBag.Title = "Index";
}

<br/><br/><br/><br/>
    <marquee style="font-size:20px; font-weight:bolder;color:#5c0101;">COVID- 19 ! Guidlines From Government Stay Safe and Stay at Home </marquee>
<br/><br/>
    <p style="        font-family:'Times New Roman';
        line-break: loose;
        color: white/*#75e0ab*/;
        font-size: larger;
        letter-spacing:2px;
        word-spacing:3px;
        font-weight: 500;
        position: absolute;
        z-index: 2;
">
        1.  Avoid close contact with people who are sick. Maintain at least three feet distance between yourself and anyone who is coughing or sneezing.
      <br/>2.  Avoid touching your eyes, nose, and mouth.
           <br />3.  Stay home when you are sick.
                 <br />4.  Cover your cough or sneeze with a tissue, then dispose of the tissue safely.
                        <br />5.  Clean and disinfect frequently-touched objects and surfaces using a regular household cleaning spray or wipe.
                               <br />6.  Wearing a mask is not necessary unless you ar you are taking care of an infected person. The Centers for Disease Control (CDC) does recommend that only infected people wear masks to prevent the spread of the virus.
                                     <br/>7.  Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom, before eating, and after blowing your nose, coughing, or sneezing.
                                           <br/>8.  If soap and water are not readily available, use an alcohol-based hand sanitiser with at least 60% alcohol. Always wash hands with soap ..

       

    </p>
    @*<img src="~/Images/Aug19_02_88160315.jpg" height="300" width="1150" />*@